/* Стилизация аккордеона */
.accordion__container {
    width: 730px;
    padding: 23px;
    margin-bottom: 8px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.accordion__container:last-child {
    margin-bottom: 0;
}

.accordion__summary {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}