.histogram {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 16px 24px 24px 24px;
}

.histogram__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.histogram__link {
    text-decoration: none;
}

.histogram__subtitle {
    margin: 6px 0px;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 39px;
}

.histogram__chart {
    height: 50px;
    display: flex;
    align-items: flex-end;
    gap: 1px;
}

.histogram__item {
    flex-basis: 9px;
    flex-grow: 1;
    background: var(--blue);
}

.histogram__item_small {
    height: 25%;
} 

.histogram__item_medium {
    height: 50%;
} 

.histogram__item_large {
    height: 100%;
}

.histogram__item_1 {
    height: 50% ;
}

.histogram__item_2 {
    height: 25%;
}

.histogram__item_3 {
    height: 22%;
}

.histogram__item_4 {
    height: 39%;
}

.histogram__item_5 {
    height: 22% ;
}

.histogram__item_6 {
    height: 30%;
}

.histogram__item_7 {
    height: 39%;
}

.histogram__item_8 {
    height: 50%;
}

.histogram__item_9 {
    height: 11%;
}

.histogram__item_10 {
    height: 22%;
}

.histogram__item_11 {
    height: 30% ;
}

.histogram__item_12 {
    height: 35%;
}

.histogram__item_13 {
    height: 11%;
}

.histogram__item_14 {
    height: 50%;
}

.histogram__item_15 {
    height: 11% ;
}

.histogram__item_16 {
    height: 39%;
}

.histogram__item_17 {
    height: 30%;
}

.histogram__item_18 {
    height: 22%;
}

.histogram__item_19 {
    height: 35%;
}

.histogram__item_20 {
    height: 30%;
}

.histogram__item_21 {
    height: 11% ;
}

.histogram__item_22 {
    height: 39%;
}

.histogram__item_23 {
    height: 35%;
}

.histogram__item_24 {
    height: 45%;
}

.histogram__item_25 {
    height: 30% ;
}

.histogram__item_26 {
    height: 11%;
}

.histogram__item_27 {
    height: 30%;
}

.histogram__item_28 {
    height: 11%;
}

.histogram__item_29 {
    height: 35%;
}

.histogram__item_30 {
    height: 17%;
}