.card__item {
    width: 350px;
    height: 367px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}

.card__title {
    align-self: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}