.skeleton__container {
    width: 579px;
    padding: 32px 40px 34px 24px;
    box-sizing: border-box;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.skeleton__title {
    display: flex;
    justify-content: flex-start;
}

.skeleton__avatar {
    height: 64px;
    width: 64px;
    margin-right: 16px;
    border-radius: 100%;
    background: var(--grey-2);
}

.skeleton__main {
    margin-top: 24px;
}

.skeleton__inf {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skeleton__content {
    height: 20px;
    width: 100%;
    background: linear-gradient(92.51deg, var(--grey-2) 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, var(--grey-2) 102.52%);;
}

.skeleton__content {
    margin-bottom: 8px;
}

.skeleton__content:last-child {
    margin-bottom: 0px;
}

.short {
    width: 172px;
}

.medium {
    width: 257px;
}